<!DOCTYPE html>
<html lang="en">
	<%- include('templates/head') %>
	<body>
		<%- include('templates/navbar') %>
      <h1>All Categories</h1>
		<ul>
			<% for(let i = 0; i < category_list.length; i++) { %>
			<li><a href=<%= category_list[i].url %>><%= category_list[i].name %></a></li>
			<% } %>
		</ul>
	</body>
</html>
