<!DOCTYPE html>
<html lang="en">
	<%- include('templates/head') %>
	<body>
		<%- include('templates/navbar') %>
      <div class="header-container">
			<h1>All Categories</h1>
			<a href="/inventory/categories/create"><img class="add-icon" src="/images/add-icon.svg" alt="add icon button"></a>
		</div>
		<ul>
			<% for(let i = 0; i < category_list.length; i++) { %>
			<li><a href=<%= category_list[i].url %>><%= category_list[i].name %></a></li>
			<% } %>
		</ul>
	</body>
</html>
