<!DOCTYPE html>
<html>
	<%- include('templates/head') %>
	<body>
		<%- include('templates/navbar') %>
		<main>
			<h1>Inventory Cat Cafe</h1>
			<p>Welcome to my inventory cat cafe, where you can populate this corner of the internet with fun items for these silly cats! This project is part of my roadmap towards my dream to become a full stack dev. Project inspiration can be found on <a href="https://www.theodinproject.com/lessons/nodejs-inventory-application" target="_blank">The Odin Project</a> Inventory Application.</p>
			<p>Essential functions include adding categories and their respective items. For update/delete, there is a password in place to secure against those destructive evil kitties. Perhaps, some friendlier cats may give you a clue about it. Anyway, enjoy the stay!</p>
			<p>
				. ╱|、<br />
				(˚ˎ 。7<br />
				|、˜〵<br />
				じしˍ,)ノ
			</p>

			<hr />
			<div class="status-container">
				<div class="status-info">
					<h2 class="title">Status</h2>
					<dl>
						<dt>Total Categories</dt>
						<dd><%= categories.length %></dd>
						<dt>Number of Items</dt>
						<dd><%= items.length %></dd>
						<p class="hidden">Ignore "-" and "*" during final input.</p>
						<p class="hidden">A=1, B=2, C=3, ..., Z=26 <span class="unique-symbol">&#10548;</span></p>
					</dl>
				</div>
				<img id="internet-gif" src="/images/internet.gif" alt="internet gif" />
			</div>
      <div class="video-container">
        <img class="tv-box" src="/images/tv-screen.png" alt="tv-screen">
        <video class="video-background" id="background-video" loop muted poster="/images/bongo-cat.jpeg">
          <source src="/images/cat-march.mp4" type="video/mp4">
        </video>
      </div>
		</main>			
    <script src="/scripts/img_timeout.js"></script>
	</body>
</html>


