<!DOCTYPE html>
<html>
  <%- include('templates/head')  %>
  <body>
    <%- include('templates/navbar')  %>
    <h1>Inventory App</h1>
    <p>Welcome to my inventory application! This project is part of my roadmap for a full stack dev on <a href="https://www.theodinproject.com/lessons/nodejs-inventory-application">The Odin Project</a> Inventory Application.</p>
    <hr>
    <h2>Status</h2>
    <dl>
      <dt>Total Categories</dt>
      <dd><%= categories.length %></dd>
      <dt>Number of Items</dt>
      <dd><%= items.length %></dd>
    </dl>
  </body>
</html>
