$color: rgb(8, 8, 182);

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  cursor: pointer;
  color: #1ab5f2;
  text-decoration: none;
}

h1 {
  color: $color;
}

nav {
  a{
    color: white;
  }
  background-color: rgb(6, 35, 94);
  padding: 20px 30px;
  color: white;
  font-size: 20px;
  ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    margin: 0;
  }
}